{#this allows you to overrride whatever your set as the initial block value before it was passed to the template#}
{% extends "base.html" %} {% block title%}Home{% endblock %} 

{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %} {#makes a for loop that iterates through all notes and displays them in a list#}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})"> {#writes a JS function that uses the deleteNote function which takes in the noteID of the current note in the list#}
      <span aria-hidden="true">&times;</span>
    </button>
  </li> {# use the {{<variable>}} to use python variables in the html template #}
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}